<% include partials/header %>

    <div class="container-fluid d-flex justify-content-center align-items-center content">
        <a href=<%= url %>
            <button class="btn btn-info">
                Sign in with Github
            </button>
        </a>

    </div>
    </body>

    <% include partials/footer %>